*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color:#1c222d;
}
nav{
    background-color:#2d3f61;
    height:80px;
    width: 100%;
}
.logo{
    color:white;
    font-size:35px;
    line-height:80px;
    padding:0;
    font-weight:bold;
    margin:10px;
}
nav ul{
    float:right;
    margin-right:10px;
}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin:0 10px;
    color:white;
}
.container{
    padding:20px;
    margin-top: 20px;
    margin-left:40px;
    font-size: 40px;
    color:whitesmoke;
}
.man{
    color:red
}
.but{
    transition: transform 0.5s;
}
.but1,.but2,.but3{
    border-radius: 10px;
    padding:10px;
    background-color:#42f5ec; 
    margin-bottom: 20px;
}
.but1:hover,.but2:hover,.but3:hover{
 transform:scale(1.15);
}
.container2{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-bottom:50px; 
    gap:10px; 
    margin-left:50px;
}
.box{
    border: 1px solid blue;
    margin:10px;
    padding:30px;
    background:linear-gradient(to bottom right, pink,blue);
    color:whitesmoke;
    width:600px;
    border-radius: 20px;
    font-weight: bold;
    font-size:15px;
}
.box:hover{
    transform:scale(1.03);
    background:radial-gradient(royalblue,green);
}
.head{
    color:white;
    font-size: 30px;
    margin-left:60px;
    margin-bottom: 10px;;
} 
.container3{
    display:flex;
    flex-direction: row;
    margin-bottom:20px;
    margin-left:40px;
}
.box2{
    border:2px solid dodgerblue;
    margin:20px 20px;
    width:400px;
    padding:40px;
    border-radius: 20px;
    background-color:#47556f;
    color:antiquewhite;
    font-weight: bold;

}

.ved{
    width:300px;
}
.head2{
    color: whitesmoke;
    font-size: 30px;
    margin-left:50px
}
.container5{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-left:40px;
    margin-bottom:20px;
}
.box4{
    border:2px solid dodgerblue;
    margin:20px 20px;
    width:400px;
    padding:40px;
    border-radius: 20px;
    text-align: center;
    color: whitesmoke;
}
.box4:hover{
      background-color:dodgerblue;
}

footer{
    background-color:#2d3f61;
    height:80px;
    width: 100%;
}
.logo1{
    color:white;
    font-size:35px;
    line-height:80px;
    padding:0;
    font-weight:bold;
    margin:10px;
    margin-right:400px;
}